<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>查询页面</h1>
    <table border="1" width="50%">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>age</th>
            <th>sex</th>
        </tr>
        <tr th:each="i : ${list}">
            <td th:text="${i.id}"></td>
            <td th:text="${i.name}"></td>
            <td th:text="${i.age}"></td>
            <td th:text="${i.sex}"></td>
        </tr>
    </table>
</body>
</html>